:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans.ttf");
}

@font-face {
  font-family: "Poppins-400";
  src: url("./fonts/Poppins-400.ttf");
}

@font-face {
  font-family: "Poppins-600";
  src: url("./fonts/Poppins-600.ttf");
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: var(--violet);
}

.illustrationContainer {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 75px;
}

.illustration {
  height: 600px;
}

.infoContainer {
  width: 460px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -40px;
}

.infoContainer h1 {
  font-family: "Poppins-600";
  font-size: 36px;
  color: whitesmoke;
}

.infoContainer p {
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  color: whitesmoke;
}

.registerButton {
  width: 180px;
  height: 50px;
  background-color: whitesmoke;
  color: var(--violet);
  font-size: 16px;
  font-family: "Poppins-400";
  border: none;
  border-radius: 25px;
  box-shadow:
      0.7px 1.8px 2.2px rgba(0, 0, 0, 0.042),
      1.7px 4.3px 5.3px rgba(0, 0, 0, 0.061),
      3.1px 8.1px 10px rgba(0, 0, 0, 0.075),
      5.6px 14.5px 17.9px rgba(0, 0, 0, 0.089),
      10.4px 27.2px 33.4px rgba(0, 0, 0, 0.108),
      25px 65px 80px rgba(0, 0, 0, 0.15);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.registerButton:hover {
  cursor: pointer;
  background-color: var(--soft-magenta);
  color: whitesmoke;
}

.socials {
  width: 150px;
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.socialButton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid whitesmoke;
  border-radius: 100%;
  background-color: transparent;
  box-shadow: 0 0 0;
  transition: border 300ms ease-in-out;
}

.socialButton:hover {
  cursor: pointer;
  border: 1px solid var(--soft-magenta);
}

.socialIcon {
  height: 17px;
  color: whitesmoke;
  transition: color 300ms ease-in-out;
}

.socialButton:hover .socialIcon {
  color: var(--soft-magenta);
}

@media only screen and (max-width: 1400px) {
  .illustration {
    height: 400px;
  }
}

@media only screen and (max-width: 1150px) {
  .App {
    height: 100vh;
    flex-direction: column;
    background: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: var(--violet);
    overflow: hidden;
  }
  .illustrationContainer {
    align-items: flex-start;
    margin: 0;
    margin-top: 50px;
  }
  .logo {
    height: 40px;
    margin-bottom: 70px;
  }
  .illustration {
    height: 200px;
    margin-bottom: 50px;
  }
  .infoContainer {
    width: 300px;
    align-items: center;
    text-align: center;
    margin: 0;
  }
  .infoContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .infoContainer p {
    margin-bottom: 20px;
  }
  .registerButton {
    width: 200px;
    height: 40px;
    font-size: 14px;
  }
  .socials {
    align-self: center;
    margin: 70px;
  }
  .socialButton {
    height: 35px;
    width: 35px;
  }
  .socialIcon {
    height: 15px;
  }
}